/target
/vendor
/.cargo
/coverage.json
# Debian package build outputs
debian/nflog2syslog/
debian/files
debian/debhelper-build-stamp
debian/.debhelper/
debian/*.log
debian/*.substvars
debian/*.debhelper
