[Unit]
Description=nflog2syslog: NFLOG to JSON syslog transport daemon
After=network-online.target

[Service]
User=nfl2sl
Group=nfl2sl
EnvironmentFile=-/etc/default/nflog2syslog
ExecStart=/usr/sbin/nflog2syslog --dest=${DEST} --proto=${PROTO} --stdout=${LOG_STDOUT} --nflog-group=${NFLOG_GROUP} --stats-interval=${STATS_INTERVAL}
Restart=always
RestartSec=10s
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN

LockPersonality=true
NoNewPrivileges=true
PrivateDevices=false
PrivateTmp=true
PrivateUsers=false
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
